/* Bootstrap overrides start */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: initial;
  line-height: initial;
  color: initial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, .h1 {
  font-size: 2em;
  font-weight: 600;
}

h2, .h2 {
  font-size: 1.3em;
  font-weight: 500;
}

h3, .h3 {
  font-size: 1.2em;
  font-weight: 500;
}

h4, .h4 {
  font-size: 1.1em;
  font-weight: 600;
}




/* Bootstrap overrides end */