*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

body {
  padding: 0 1em;
}

header {
  // @include flexCenter(row);
  margin-top: 2em;
}

main {
  margin-top: 3em;
}

form {
  @include flexCenter(row)
}

ul {
  list-style: none;
  margin-top: 1em;
}

input,
button {
  padding: .5em 1em;
}

button, input[type=checkbox] {
  cursor: pointer;
}

h3 {
  margin-top: 1em;
}


.done {
  text-decoration: line-through;
  color: #666666;
}


.item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .1s;

  &:hover {
    background-color: #eeeeee;
  }

  span {
    flex: 1;
    text-align: center;
  }

}

.deleteCompleted {
  margin-top: 1em;
}

.editTaskForm {
  flex: 1;
  display: flex;
  justify-content: space-between;

  input {
    margin: 0 auto;
    text-align: center;
  }
}

footer {
  position: fixed;
  bottom: .5em;
  left: 1em;
  right: 1em;
  p {
    @include flexCenter(row);
    img {
      margin-left: .25em;
      width: 100px;
    }
  }
}