/* colors */
:root {
  --primary: #bada55;
  --bgcolor: #eee;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 0 1em;
  background-color: var(--bgcolor);
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 1fr auto;
      grid-template-rows: auto auto 1fr auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 600px) {
  body {
    -ms-grid-columns: minmax(500px, 700px);
        grid-template-columns: minmax(500px, 700px);
    margin: 0 2em;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

.header svg {
  -webkit-filter: drop-shadow(0 0 1px #000);
          filter: drop-shadow(0 0 1px #000);
  color: #bada55;
  font-size: 1.5em;
  margin-left: .5em;
}

main {
  margin-top: 3em;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul {
  list-style: none;
  margin-top: 1em;
}

button, input[type=checkbox] {
  cursor: pointer;
}

h3 {
  margin-top: 1em;
}

.newTaskForm .newTaskForm__input {
  padding: .5em 1em;
  font-size: 1em;
  margin-right: .5em;
  background: none;
  border: none;
  border-bottom: 4px solid #bada55;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.newTaskForm .newTaskForm__input:focus {
  border-bottom-color: #f28f04;
}

.newTaskForm .newTaskForm__addBtn {
  border: none;
  height: 1.5em;
  width: 1.5em;
  background: none;
  font-size: 1.5em;
  padding: .5em;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.newTaskForm .newTaskForm__addBtn:hover, .newTaskForm .newTaskForm__addBtn:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.newTaskForm .newTaskForm__addBtn svg {
  -webkit-transform: translate(-25%, -25%);
          transform: translate(-25%, -25%);
}

.done {
  text-decoration: line-through;
  color: #666666;
}

.todos-list {
  overflow: hidden;
}

.item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.item:hover {
  background-color: #e6e6e6;
}

.item .item__cancelBtn, .item .item__editBtn, .item .item__removeBtn, .item .item__editTaskForm__saveBtn {
  border: none;
  background: none;
  font-size: 1.5em;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.item .item__cancelBtn:hover, .item .item__editBtn:hover, .item .item__removeBtn:hover, .item .item__editTaskForm__saveBtn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.item .item__taskName {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.item .item__editTaskForm {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item .item__editTaskForm .item__editTaskForm__editInput {
  margin: 0 auto;
  text-align: center;
  background: none;
  border: none;
  padding: .5em 0;
}

.item .item__editTaskForm .item__editTaskForm__editInput:focus {
  background: rgba(157, 226, 199, 0.2);
}

.item .item__editTaskForm .saveBtn {
  margin-right: .5em;
}

.item__checkbox__container {
  display: block;
  cursor: pointer;
  position: relative;
  margin-right: 30px;
}

.item__checkbox__container .item__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.item__checkbox__container .item__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1.6em;
  width: 1.6em;
  border: 2px solid #666;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-bottom-color: #999;
  border-right-color: #999;
  background-color: #eee;
  text-align: center;
}

.item__checkbox__container .item__checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.item__checkbox:checked ~ .item__checkmark {
  border: none;
}

.item__checkbox:checked ~ .item__checkmark:after {
  content: '\1F37F';
  -webkit-transform: rotate(15deg) scale(0.8, 1) translate(-70%, -20%);
          transform: rotate(15deg) scale(0.8, 1) translate(-70%, -20%);
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
  opacity: 1;
  font-size: 2.5em;
}

.item__checkbox:checked ~ .item__checkmark:after:hover {
  -webkit-transform: rotate(15deg) scale(1.1) translate(-50%, -25%);
          transform: rotate(15deg) scale(1.1) translate(-50%, -25%);
}

.item .item__cancelBtn {
  color: #732626;
  -webkit-transition: color .2s;
  transition: color .2s;
  font-size: 2em;
}

.item .item__cancelBtn:hover {
  color: red;
}

.item__editTaskForm__saveBtn {
  margin-right: 1em;
  color: #267353;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.item__editTaskForm__saveBtn:hover {
  color: #08a061;
}

.item__removeBtn {
  margin-left: 1em;
  color: #732626;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.item__removeBtn:hover {
  color: red;
}

.listModifiers {
  margin-top: 2em;
}

.listModifiers .svg-inline--fa {
  margin-right: .5em;
}

.listModifiers button {
  border: none;
  background: none;
  border-radius: 5px;
  font-size: 1.1em;
}

.orderItems button {
  color: #333599;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.orderItems button:hover {
  color: #0004ff;
}

.orderItems button:hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.orderItems button svg {
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.moreActions {
  margin-top: 1em;
}

.moreActions button {
  color: #732626;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.moreActions button:hover {
  color: red;
}

.moreActions button:hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.moreActions button svg {
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.moreActions__deleteAllBtn {
  margin-left: 1em;
}

@media screen and (min-width: 600px) {
  .listModifiers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .moreActions {
    margin-top: 0;
  }
}

.tasksStatus {
  margin-top: 2em;
  text-align: center;
}

footer {
  -webkit-filter: drop-shadow(0 0 5px white);
          filter: drop-shadow(0 0 5px white);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "card";
}

footer p {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-filter: drop-shadow(0 0 15px white);
          filter: drop-shadow(0 0 15px white);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform .4s ease-in;
  transition: -webkit-transform .4s ease-in;
  transition: transform .4s ease-in;
  transition: transform .4s ease-in, -webkit-transform .4s ease-in;
}

footer p img {
  margin-left: .25em;
  width: 100px;
}

footer p a {
  margin-left: .25em;
  text-decoration: none;
  color: #666;
  font-weight: 600;
}

footer:hover .front {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

footer .back {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

footer:hover .back {
  -webkit-transform: rotateY(0turn);
          transform: rotateY(0turn);
}

/* Animations */
/* The starting CSS styles for the enter animation */
.item.ng-enter {
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

/* The finishing CSS styles for the enter animation */
.item.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.item.ng-leave {
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.item.ng-leave.ng-leave-active {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.item.ng-leave-stagger {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}
/*# sourceMappingURL=main.css.map */