*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

body {
  padding: 0 1em;
}

header {
  @include flexCenter(row);
}

main {
  margin-top: 3em;
}

form {
  @include flexCenter(row)
}

ul {
  list-style: none;
  margin-top: 1em;
}

input, button {
  padding: .5em 1em;
}

.done {
  text-decoration: line-through;
  color: #666666;
}

h3 {
  margin-top: 1em;
}

.item {
  margin-top: .5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  display: flex;
}

.deleteCompleted {
  margin-top: 1em;
}