/* colors */
:root {
  --primary: #bada55;
  --bgcolor: #eee;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 0 1em;
  background-color: var(--bgcolor);
  min-height: 100vh;
}

header {
  margin-top: 2em;
}

main {
  margin-top: 3em;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul {
  list-style: none;
  margin-top: 1em;
}

input,
button {
  padding: .5em 1em;
}

button, input[type=checkbox] {
  cursor: pointer;
}

h3 {
  margin-top: 1em;
}

.newTaskForm input {
  padding: 10px;
  font-size: 1em;
  margin-right: .5em;
  background: none;
  border: none;
  border-bottom: 4px solid #bada55;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.newTaskForm input:focus {
  border-bottom-color: #f28f04;
}

.done {
  text-decoration: line-through;
  color: #666666;
}

.todos-list {
  overflow: hidden;
}

.item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.item:hover {
  background-color: #eeeeee;
}

.item span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.deleteCompleted {
  margin-top: 1em;
}

.editTaskForm {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.editTaskForm input {
  margin: 0 auto;
  text-align: center;
}

footer {
  position: absolute;
  top: 100%;
  left: 1em;
  right: 1em;
  -webkit-filter: drop-shadow(0 0 5px white);
          filter: drop-shadow(0 0 5px white);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "card";
}

footer p {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-filter: drop-shadow(0 0 15px white);
          filter: drop-shadow(0 0 15px white);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform .4s ease-in;
  transition: -webkit-transform .4s ease-in;
  transition: transform .4s ease-in;
  transition: transform .4s ease-in, -webkit-transform .4s ease-in;
}

footer p img {
  margin-left: .25em;
  width: 100px;
}

footer p a {
  margin-left: .25em;
  text-decoration: none;
  color: #666;
  font-weight: 600;
}

footer:hover .front {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

footer .back {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

footer:hover .back {
  -webkit-transform: rotateY(0turn);
          transform: rotateY(0turn);
}

/* Animations */
/* The starting CSS styles for the enter animation */
.item.ng-enter {
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

/* The finishing CSS styles for the enter animation */
.item.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.item.ng-leave {
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.item.ng-leave.ng-leave-active {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.item.ng-leave-stagger {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}
/*# sourceMappingURL=main.css.map */