/* colors */
:root {
  --primary: #bada55;
  --bgcolor: #eee;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

body {
  padding: 0 1em;
  background-color: var(--bgcolor);
}

header {
  // @include flexCenter(row);
  margin-top: 2em;
}

main {
  margin-top: 3em;
}

form {
  @include flexCenter(row)
}

ul {
  list-style: none;
  margin-top: 1em;
}

input,
button {
  padding: .5em 1em;
}

button, input[type=checkbox] {
  cursor: pointer;
}

h3 {
  margin-top: 1em;
}


.newTaskForm {
  
  input {
    padding: 10px;
    font-size: 1em;
    margin-right: .5em;
    background: none;
    border: none;
    border-bottom: 4px solid #bada55;
    transition: all .2s;

    &:focus {
      border-bottom-color: #f28f04;
    }
  }
}

.done {
  text-decoration: line-through;
  color: #666666;
}


.item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .1s;

  &:hover {
    background-color: #eeeeee;
  }

  span {
    flex: 1;
    text-align: center;
  }

}

.deleteCompleted {
  margin-top: 1em;
}

.editTaskForm {
  flex: 1;
  display: flex;
  justify-content: space-between;

  input {
    margin: 0 auto;
    text-align: center;
  }
}

.tasksStatus {
}

footer {
  position: fixed;
  bottom: .5em;
  left: 1em;
  right: 1em;
  filter: drop-shadow(0 0 5px rgba(255,255,255,1));
  display: grid;
  grid-template-areas: "card";
  
  p {
    grid-area: card;
    @include flexCenter(row);
    filter: drop-shadow(0 0 15px rgba(255,255,255,1));
    backface-visibility: hidden;
    transition: transform .4s ease-in;

    img {
      margin-left: .25em;
      width: 100px;
    }
    a {
      margin-left: .25em;
      text-decoration: none;
      color: #666;
      font-weight: 600;
    }
  }

  &:hover .front {
    transform: rotateY(.5turn);
  }
  
  .back {
    transform: rotateY(.5turn);
  }
  
  &:hover .back {
    transform: rotateY(0turn);
  }
}



/* Animations */

/* The starting CSS styles for the enter animation */
.item.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */
.item.ng-enter.ng-enter-active {
  opacity: 1;
}