<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  
  <!-- Bootstrap CDN -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
  <!-- AngularJS CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.js"></script>
  <!-- ngNotify CDN -->
  <script src="https://cdn.jsdelivr.net/angular.ng-notify/0.8.0/ng-notify.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.ng-notify/0.8.0/ng-notify.min.css">
  <!-- FontAwesome CDN -->
  <script defer src="https://use.fontawesome.com/releases/v5.12.0/js/all.js" integrity="sha384-S+e0w/GqyDFzOU88KBBRbedIB4IMF55OzWmROqS6nlDcXlEaV8PcFi4DHZYfDk4Y" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/main.css">

  <title>ToDo App with AJS</title>
</head>

<body ng-app="App">
  <header>
    <h1>watchNext</h1>
  </header>

  <h3>Make your movies-night wish list!</h3>

  <main ng-controller="TodoController">
    <form class="newTaskForm">
      <input class="newTaskForm__input" type="text" ng-model="inputText" ng-required="required" placeholder="Type a movie title..." />
      <button class="newTaskForm__addBtn" ng-click="addItem()" title="Add a new task">add</button>
    </form>
    <ul class="todos-list">
      <li ng-repeat="todo in todos | orderBy:groupDone" class="item">
        <input class="item__checkbox" type="checkbox" ng-model="todo.done" ng-click="toggleDone()" />
        <span class="{{todo.done ? 'done' : ''}}" ng-if="todo.editing === false">{{ todo.text }}</span>
        <form class="item__editTaskForm" ng-if="todo.editing === true" ng-submit="saveEdit(todo)">
          <input class="item__editTaskForm__editInput" id="editInput" type="text" ng-model="todo.newText" ng-init="setFocus()"/>
          <button class="item__editTaskForm__saveBtn" title="Save Changes">save</button>
        </form>
        <button class="item__editBtn" ng-click="toggleEdit(todo)" title="Edit task"><i class="fas fa-pen-square"></i></button>
        <button class="item__removeBtn" ng-click="deleteItem()" title="Remove task" ng-if="todo.editing === false">remove</button>
      </li>
    </ul>

    <div class="listModifiers">
      <div class="orderItems">
        <button ng-click="orderByDone('done')">Group Completed</button>
      </div>
  
      <div class="moreActions">
        <button class="moreActions__deleteCompletedBtn" ng-click="clearCompleted()" title="Delete completed tasks">
          Delete Completed Tasks
        </button>
    
        <button class="moreActions__deleteAllBtn" ng-click="deleteAll()" title="Clear list">Delete All</button>
      </div>
    </div>

    <div class="tasksStatus">
      <h3 ng-if="todos.length === 0">No movies added yet...</h3>
      <h3 ng-if="completed() !== todos.length">Movies watched: {{ completed() }} of {{ todos.length }}</h3>
      <h3 ng-if="todos.length > 0 && completed() === todos.length" class="taksCompletedStatus">You're all out of popcorn!</h3>
    </div>
    

  </main>

  <!-- <footer>
    <p class="front">powered by <img src="https://angularjs.org/img/AngularJS-large.png" alt="angularjs logo"></p>
    <p class="back">created by <a href="https://github.com/pablowbk">pablowbk</a></p>
  </footer> -->


  <script src="./js/app.js"></script>
  <!-- Controllers -->
  <script src="./js/controllers/TodoController.js"></script>

</body>

</html>